<div>
  </div>
  <div *ngIf="showInsights; else noData">
    <p class="d-inline-flex gap-1">
      <button class="btn btn-primary" (click)="toggleSection('building')">
        <i class="pi pi-home" style="width: 24px;"></i>Building Insights
      </button>
      <button class="btn btn-primary" (click)="toggleSection('solar')">
        <i class="pi pi-dollar" style="width: 24px;"></i>Solar Analysis
      </button>
    </p>
    <div class="row">
      <div class="col">
        <div [ngbCollapse]="activeSection !== 'building'">
          <div class="card card-body">
            <h4>Bulding Insights</h4>
            <div class="container">
              <div class="row justify-content-center">
                <!-- Using ngFor to loop over buildingInsightsData array -->
                <div *ngFor="let row of buildingInsightsData" class="col-md-3">
                  <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                    <div class="card-header" style="align-content: ce;">
                      {{ row.name }}
                    </div>
                    <div class="card-body">
                      <h3 class="card-title">
                        <i [class]="row.icon"></i>
                      </h3>
                      <p class="card-text">{{ row.value() }} {{ row.units }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="row">
      <div class="col">
        <div [ngbCollapse]="activeSection !== 'solar'">
          <div class="card card-body">
            <h4>Solar Analysis</h4>
            <div>

  <div class="container">


    <div class="container">
      <div class="row justify-content-center">
        <!-- Using ngFor to loop over buildingInsightsData array -->
        <div *ngFor="let row of solarAnalysis" class="col-md-3">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="align-content: ce;">
              {{ row.name }}
            </div>
            <div class="card-body">
              <h3 class="card-title">
                <i [class]="row.icon" style="width: 24px;" aria-hidden="true"></i>
              </h3>
              <p class="card-text">{{ row.value() }} {{ row.units }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- Editable Fields -->
    <h4>Change details as per usage</h4>
  
    <!-- Monthly average energy bill -->
    <div class="mb-3 row">
      <label for="monthlyBill" class="col-sm-4 col-form-label">Monthly average energy bill</label>
      <div class="col-sm-8 input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="monthlyBill" [(ngModel)]="monthlyAverageEnergyBillInput" (input)="updateConfig()">
      </div>
    </div>
  
    <!-- Energy cost per kWh -->
    <div class="mb-3 row">
      <label for="energyCost" class="col-sm-4 col-form-label">Energy cost per kWh</label>
      <div class="col-sm-8 input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="energyCost" [(ngModel)]="energyCostPerKwhInput" (input)="updateConfig()" step="0.01">
      </div>
    </div>
  
    <!-- Panels count -->
    <div class="mb-3 row">
      <label for="panelsCount" class="col-sm-4 col-form-label">Panels count</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="panelsCount" [(ngModel)]="panelsCount" (input)="updateCalculations()">
      </div>
    </div>
  
    <!-- Solar incentives -->
    <div class="mb-3 row">
      <label for="solarIncentives" class="col-sm-4 col-form-label">Solar incentives</label>
      <div class="col-sm-8 input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="solarIncentives" [(ngModel)]="solarIncentives" (input)="updateConfig()">
      </div>
    </div>
  
    <!-- Installation cost per watt -->
    <div class="mb-3 row">
      <label for="installationCost" class="col-sm-4 col-form-label">Installation cost per Watt</label>
      <div class="col-sm-8 input-group">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" id="installationCost" [(ngModel)]="installationCostPerWatt" (input)="updateConfig()" step="0.01">
      </div>
    </div>
  
    <!-- Panel capacity -->
    <div class="mb-3 row">
      <label for="panelCapacity" class="col-sm-4 col-form-label">Panel capacity</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="panelCapacity" [(ngModel)]="panelCapacityWattsInput" (input)="updateConfig()">
        <span class="input-group-text">Watts</span>
      </div>
    </div>
  
    <!-- Installation lifespan -->
    <div class="mb-3 row">
      <label for="installationLifespan" class="col-sm-4 col-form-label">Installation lifespan</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="installationLifespan" [(ngModel)]="installationLifeSpan" (input)="updateConfig()">
        <span class="input-group-text">years</span>
      </div>
    </div>
  
    <!-- DC to AC conversion -->
    <div class="mb-3 row">
      <label for="dcToAc" class="col-sm-4 col-form-label">DC to AC conversion</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="dcToAc" [(ngModel)]="dcToAcDerateInput" (input)="updateConfig()" step="0.01">
        <span class="input-group-text">%</span>
      </div>
    </div>
  
    <!-- Panel efficiency decline per year -->
    <div class="mb-3 row">
      <label for="efficiencyDecline" class="col-sm-4 col-form-label">Panel efficiency decline per year</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="efficiencyDecline" [(ngModel)]="efficiencyDepreciationFactor" (input)="updateConfig()" step="0.001">
        <span class="input-group-text">%</span>
      </div>
    </div>
  
    <!-- Energy cost increase per year -->
    <div class="mb-3 row">
      <label for="costIncrease" class="col-sm-4 col-form-label">Energy cost increase per year</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="costIncrease" [(ngModel)]="costIncreaseFactor" (input)="updateConfig()" step="0.01">
        <span class="input-group-text">%</span>
      </div>
    </div>
  
    <!-- Discount rate per year -->
    <div class="mb-3 row">
      <label for="discountRate" class="col-sm-4 col-form-label">Discount rate per year</label>
      <div class="col-sm-8 input-group">
        <input type="number" class="form-control" id="discountRate" [(ngModel)]="discountRate" (input)="updateConfig()" step="0.01">
        <span class="input-group-text">%</span>
      </div>
    </div>


    <h4>Cost Analysis</h4>
    
    <div class="container">
      <div class="row justify-content-center">
        <!-- Using ngFor to loop over buildingInsightsData array -->
        <div *ngFor="let row of analysisChart" class="col-md-3">
          <div class="card text-bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header" style="align-content: ce;">
              {{ row.name }}
            </div>
            <div class="card-body">
              <h3 class="card-title">
                <i [class]="row.icon" style="width: 24px;" aria-hidden="true"></i>
              </h3>
              <p class="card-text">{{ row.value() }} {{ row.units }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noData>
    <div class="alert alert-warning" role="alert">
      Please select an address to continue further!
    </div>
  </ng-template>